.button,
.button-secondary {
  height: 3rem;
  padding: 0 1rem;
  line-height: 3rem;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  font-family: var(--font-bold);
  min-width: 7.5rem;
}

.button {
  background-color: var(--color-green--background);
  color: var(--color-secondary);
}

.button.button-secondary {
  background-color: var(--background-color-buttons--hover);
  color: var(--color-secondary);
}

@media (hover: hover) {
  .button.button-secondary:hover {
    background-color: var(--color-background--light-grey);
    color: var(--color-primary);
    border: 1px solid var(--background-color-buttons--hover);
  }
  .button:hover {
    background-color: var(--background-color-buttons--hover);
    cursor: pointer;
  }
}

.mini-button {
  height: 1.2rem;
  min-width: 0;
  width: 100%;
  line-height: 1.2rem;
  font-size: 0.5rem;
  border-radius: 2px;
  padding: 0 0.2rem;
}

.mini-input {
  width: 100%;
  font-size: 0.75rem;
  line-height: 1rem;
}

.xs-button-text {
  font-size: 0.4rem;
}

@media only screen and (min-width: 800px) {
  .mini-button {
    height: 2rem;
    line-height: 2rem;
    font-size: 1rem;
    border-radius: 4px;
  }

  .mini-input {
    font-size: 1rem;
    line-height: 1.2rem;
  }

  .xs-button-text {
    font-size: 0.8rem;
  }
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 4.5rem;
  place-items: center;
}

.header__separator {
  height: 1px;
  background-color: var(--color-borders--light);
  left: 0;
  bottom: 0;
  width: 100%;
  margin-bottom: 1rem;
}

.header__left {
  justify-self: start;
}

.header__right {
  justify-self: end;
}

.header__logo {
  font-size: 1.25rem;
  color: var(--color-green);
  font-family: var(--font-bold);
  text-align: center;
}

.header__logo-subtext {
  font-size: 0.75rem;
  color: var(--color-green);
  font-family: var(--font-regular);
}

.banner {
  background-color: var(--color-background-nav);
  color: var(--color-secondary);
  padding: 0.5rem 0;
  margin-bottom: 1rem;
}

.banner__text {
  display: flex;
  justify-content: space-between;
}

.footer {
  display: flex;
  background-color: var(--color-background-nav);
  color: var(--color-secondary);
  padding: 2rem 0;
}

.table {
  border-collapse: collapse;
  width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.35);
  table-layout: auto;
  word-break: break-word;
}

.table thead tr {
  background-color: var(--color-green--background);
  color: var(--color-secondary);
  text-align: left;
}

.table th,
.table td {
  padding: 0.5rem;
}

.table tbody tr {
  border-bottom: 1px solid var(--color-borders);
}

.table tbody tr:nth-of-type(even) {
  background-color: var(--color-background--light-grey);
}

.table tbody tr:last-of-type {
  border-bottom: 2px solid var(--color-green--background);
}

.quote {
  background-color: var(--color-background-grey);
  border-radius: 16px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
  position: relative;
  padding: 1rem;
  color: black;
}

.quote:after {
  position: absolute;
  content: "";
  bottom: 20px;
  left: -15px;
  border-top: 10px solid transparent;
  border-left: 10px solid transparent;
  border-right: 10px solid var(--color-background-grey);
  border-bottom: 10px solid var(--color-background-grey);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
  z-index: -1;
}

.players {
  display: flex;
  justify-content: center;
  column-gap: 6px;
  width: 100%;
}

.players > *,
.players > .player {
  width: calc(20% - ((6px * 4) / 5));
  height: auto;
}

.squad-list {
  flex-wrap: wrap;
  row-gap: 1rem;
}
.scout-info,
.bid-info {
  width: calc(30% - ((6px * 4) / 5));
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 0.75rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.player {
  color: var(--color-secondary);
  border-radius: 8px;
  padding: 0.25rem 0.25rem;
  font-size: 0.45rem;
  line-height: 0.5rem;
  text-align: center;
  font-weight: bold;
  font-family: var(--font-bold);
  width: 100%;
  height: 100%;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
}

.player__image {
  margin: 0.15rem auto;
  width: 100%;
  max-width: 80px;
}

.player__name {
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player__team,
.player__position {
  font-size: 0.35rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player__country {
  width: 30%;
  max-width: 24px;
  position: absolute;
  right: 0;
  bottom: 0.1rem;
}

.player__stars {
  font-size: 0.4rem;
  margin: 0.15rem auto;
  font-size: 0.55rem;
  font-weight: normal;
  font-family: var(--font-regular);
}

.player__captain,
.player__chemistry {
  --icon-height: 1.35rem;
  border-radius: 100%;
  position: absolute;
  font-size: 0.75rem;
  padding: 0.4rem;
  line-height: 1rem;
  width: var(--icon-height);
  height: var(--icon-height);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.player__captain {
  background-color: var(--background-color-buttons--hover);
  color: var(--color-secondary);
  top: -0.75rem;
  right: -0.4rem;
}

.player__chemistry {
  background-color: var(--color-green--background);
  color: var(--color-secondary);
  top: calc(50% - (var(--icon-height) / 2));
  left: -0.75rem;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.75);
}

.player__actions {
  text-align: center;
  margin-top: auto;
  padding-top: 0.15rem;
}

@media only screen and (min-width: 800px) {
  .player,
  .player__position,
  .player__team,
  .player__stars {
    font-size: 1rem;
    line-height: 1rem;
  }

  .player__name {
    height: 3rem;
  }
}

.player__FWD {
  background-color: var(--position-forward);
}

.player__MID {
  background-color: var(--position-midfield);
}

.player__DEF {
  background-color: var(--position-defender);
}

.player__FWD,
.player__MID,
.player__DEF {
  background-image: linear-gradient(
    -35deg,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.4) 25%,
    rgba(0, 0, 0, 0.2) 25%,
    rgba(0, 0, 0, 0.2) 55%,
    rgba(0, 0, 0, 0) 55%
  );
}

.player__GKP {
  background-color: var(--position-goalkeeper);
  background-image: linear-gradient(
    -35deg,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0) 45%,
    rgba(255, 255, 255, 0.4) 45%,
    rgba(255, 255, 255, 0.4) 75%,
    rgba(255, 255, 255, 0.75) 75%
  );
  color: var(--position-goalkeeper-text);
}

.player__placeholder {
  background-color: var(--color-background-dark-grey);
  color: var(--color-primary);
  min-height: 90px;
}

.player-selection {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10;
}

.winner {
  font-size: 1.5rem;
  line-height: 2rem;
  background-color: var(--color-green--background);
  color: var(--color-secondary);
  padding: 1rem;
  border-radius: 12px;
}

.lineup-segment {
  margin: 0 -10px;
  padding: 1.25rem 10px 0.5rem;
  position: relative;
  border-bottom: 6px solid var(--color-background--light);
  background-color: var(--color-green--background);
  background-image: repeating-linear-gradient(
    90deg,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0) calc(100% / 11),
    rgba(0, 0, 0, 0.2) calc(100% / 11),
    rgba(0, 0, 0, 0.2) calc(2 * 100% / 11)
  );
}

.lineup-segment:last-of-type {
  border-bottom: 0;
  padding-bottom: 1.25rem;
}

.reverse .lineup-segment:last-of-type {
  border-bottom: 6px solid var(--color-background--light);
  padding-bottom: 0.5rem;
}

.reverse .lineup-segment:first-of-type {
  border-bottom: 0;
  padding-bottom: 1.25rem;
}

.lineup-segment__summary {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 0.7rem;
  font-size: 0.7rem;
  padding: 0.15rem 0.3rem;
  color: var(--color-secondary);
  background-color: var(--background-color-buttons--hover);
  border-bottom-right-radius: 4px;
  z-index: 2;
}
