.button {
  height: 44px;
  padding: 0 20px;
  line-height: 44px;
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 4.5rem;
  place-items: center;
}

.header__separator {
  height: 1px;
  background-color: var(--color-borders--light);
  left: 0;
  bottom: 0;
  width: 100%;
  margin-bottom: 1rem;
}

.header__left {
  justify-self: start;
}

.header__right {
  justify-self: end;
}

.header__logo {
  font-size: 1.25rem;
  color: var(--color-green);
  font-family: var(--font-bold);
  text-align: center;
}

.header__logo-subtext {
  font-size: 0.75rem;
  color: var(--color-green);
  font-family: var(--font-regular);
}

.banner {
  background-color: var(--color-background-nav);
  color: var(--color-secondary);
  padding: 0.5rem 0;
  margin-bottom: 1rem;
}

.banner__text {
  display: flex;
  justify-content: space-between;
}

.footer {
  display: flex;
  background-color: var(--color-background-nav);
  color: var(--color-secondary);
  padding: 2rem 0;
}

.table {
  border-collapse: collapse;
  width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.35);
  table-layout: auto;
  word-break: break-word;
}

.table thead tr {
  background-color: var(--color-green--background);
  color: var(--color-secondary);
  text-align: left;
}

.table th,
.table td {
  padding: 0.5rem;
}

.table tbody tr {
  border-bottom: 1px solid var(--color-borders);
}

.table tbody tr:nth-of-type(even) {
  background-color: var(--color-background--light-grey);
}

.table tbody tr:last-of-type {
  border-bottom: 2px solid var(--color-green--background);
}
