[data-submitting="true"] {
  position: relative;
  background-color: white !important;
  color: white !important;
  border: 1px solid var(--background-color-buttons--hover);
}

[data-submitting="true"]::after {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: -12px;
  content: " •";
  height: 3rem;
  font-size: 1.5rem;
  animation: dots 1s steps(5, end) infinite;
  cursor: default;
}

@keyframes dots {
  0%,
  20% {
    color: rgba(0, 0, 0, 0);
    text-shadow: 0.5em 0 0 rgba(0, 0, 0, 0), 1em 0 0 rgba(0, 0, 0, 0);
  }
  40% {
    color: var(--background-color-buttons--hover);
    text-shadow: 0.5em 0 0 rgba(0, 0, 0, 0), 1em 0 0 rgba(0, 0, 0, 0);
  }
  60% {
    text-shadow: 0.5em 0 0 var(--background-color-buttons--hover),
      1em 0 0 rgba(0, 0, 0, 0);
  }
  80%,
  100% {
    text-shadow: 0.5em 0 0 var(--background-color-buttons--hover),
      1em 0 0 var(--background-color-buttons--hover);
  }
}

[data-loading="true"] {
  background-color: white !important;
  color: var(--color-background-grey) !important;
  border: 1px solid var(--background-color-buttons--hover);
  cursor: default;
}

.table [data-fit] {
  width: 1px;
  white-space: nowrap;
}

[data-injured="true"]::after {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 8px;
  border: 2px solid var(--position-defender);
  content: " ";
}

[data-selected-player="true"] {
  box-shadow: 0 0 2px 3px var(--color-orange);
  border-radius: 8px;
}

[data-result="Win"] {
  background-color: var(--position-midfield);
}

[data-result="Loss"] {
  background-color: var(--position-defender);
}

[data-outbound="true"] {
  background-color: var(--color-green--background);
  color: var(--color-secondary);
  margin-left: 20%;
}

[data-outbound="true"],
[data-outbound-recipient="true"] {
  margin-left: 20%;
}

[data-outbound="false"] {
  margin-right: 20%;
}

@media only screen and (min-width: 800px) {
  [data-outbound="true"],
  [data-outbound-recipient="true"] {
    margin-left: 40%;
  }

  [data-outbound="false"] {
    margin-right: 40%;
  }
}

[data-outbound="true"]::after {
  right: -15px;
  left: auto;
  z-index: 1;
  border-top: 10px solid transparent;
  border-right: 10px solid transparent;
  border-left: 10px solid var(--color-green--background);
  border-bottom: 10px solid var(--color-green--background);
  box-shadow: 4px 10px 5px -7px rgb(0 0 0 / 70%);
}

button:disabled {
  background-color: white !important;
  color: var(--color-background-grey) !important;
  border: 1px solid var(--background-color-buttons--hover);
  cursor: default;
}

[data-gkp-chemistry="true"].player__chemistry {
  left: calc(50% - (var(--icon-height) / 2));
  bottom: calc(-1rem - ((var(--icon-height) - 1rem) / 2));
  top: auto;
}

[data-gkp-chemistry="true"][data-def-position="left"].player__chemistry {
  left: 0;
}

[data-gkp-chemistry="true"][data-def-position="right"].player__chemistry {
  left: 100%;
}
