.main-height {
  min-height: calc(100vh - 11rem);
}

.main-height__in-game {
  min-height: calc(100vh - 18rem);
}

.inline {
  display: inline;
}

.highlight-text {
  font-family: var(--font-bold);
  font-weight: bold;
}

.bold {
  font-family: var(--font-bold);
  font-weight: bold;
}

.error {
  color: var(--color-red);
}

.centre {
  text-align: center;
}

.no-margin {
  margin: 0;
}

.vertical-margin {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.margin-bottom {
  margin-bottom: 1rem;
}

.margin-top {
  margin-top: 1rem;
}

.justify-left {
  justify-content: left !important;
}

.justify-centre {
  justify-content: center;
}

.reverse {
  flex-direction: column-reverse !important;
}

.wrapper-button {
  background: none;
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.wrapper-form > .wrapper-button {
  width: 100%;
  height: 100%;
  display: flex;
}

.block {
  display: block;
}

.relative {
  position: relative;
}

.small-text {
  font-size: 0.55rem;
  line-height: 0.6rem;
}

.full-width {
  width: 100%;
}

.background-grey {
  background-color: var(--color-background-grey);
  border-radius: 4px;
}
