.main-height {
  min-height: calc(100vh - 11rem);
}

.main-height__in-game {
  min-height: calc(100vh - 18rem);
}

.inline {
  display: inline;
}

.highlight-text {
  font-family: var(--font-bold);
  font-weight: bold;
}

.bold {
  font-family: var(--font-bold);
  font-weight: bold;
}

.error {
  color: var(--color-red);
}

.centre {
  text-align: center;
}

.no-margin {
  margin: 0;
}

.margin-bottom {
  margin-bottom: 1rem;
}

.justify-left {
  justify-content: left !important;
}

.reverse {
  flex-direction: column-reverse !important;
}
